@media (min-width: 1200px) {
    .meer {
        margin-left: 160px !important;
        content: "";
    }
}

#meerkat {
    width: 100%;
    height: 100vh;
    background: url("../img/hero.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Montserrat Alternates', sans-serif;
}

.font-mont {
    font-family: 'Montserrat Alternates', sans-serif;
}

.bars {
    border-bottom: 0.1em solid;
    border-top: 0.1em solid;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

/*.wrapper ul {
    background: linear-gradient( 45deg, rgba(122, 57, 27, 0.9) 0%, rgba(31, 153, 143, 0.9) 100%), url(../img/unnamed.jpg) center center no-repeat;
}*/

/*.wrapper>ul>li {
    width: 50px;
    height: 50px;
    background: linear-gradient( 45deg, rgba(136, 64, 30, 0.9) 0%, rgba(35, 39, 39, 0.87) 100%), url(../img/unnamed.jpg) center center no-repeat;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}*/

#meerkat:before {
    content: "";
    background: rgba(181, 221, 240, 0.308);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    padding-left: 0px;
    right: 0;
}

body {
    /*background: rgba(24, 21, 21, 0.678);*/
}

/*--------------------------------------------------------------
# Wrapper NavBar
--------------------------------------------------------------*/

.meerknav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    z-index: 1;
    align-items: center;
}

.wrapper ul {
    list-style: none;
}

.wrapper a {
    margin-bottom: 1em;
}

.wrapper a {
    display: flex;
    align-items: center;
    color: #273e62;
    border-radius: 17px;
    background: white;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
    
}

/*.wrapper a:hover {
    border-radius: 50px;
    transition: 0.5s;
}*/

.nav-text {
    display: none;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper li > a {
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper a:hover, .wrapper li:hover > a {
    width: 100%;
    transition: 0.3s;
}

.wrapper a:hover span, .wrapper li:hover > a span {
    display: block;
    transition: 0.3s;
}


/*--------------------------------------------------------------
# Social Links
--------------------------------------------------------------*/

.social-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    line-height: 1;
    margin-right: 20px;
}

#oc {
    position: fixed;
    z-index: 100;
}

#oc:focus {
    outline: none !important;
    box-shadow: none !important;
}

#oc:active {
    outline: none !important;
    box-shadow: none !important;
}

.me {
    max-width: 100%;
}

body {
    /*background: linear-gradient( 45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url(../img/download.jpg) center center no-repeat;*/
}

#about {
    /*background: linear-gradient( 45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url(../img/download.jpg) center center no-repeat;*/
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    right: 15px;
    bottom: 15px;
    background: #2e4b79;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}

.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
}

.back-to-top:hover {
    color: #fff;
    background: #507abe;
    transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i {
    font-size: 20px;
  }
  
  .nav-menu a span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 992px) {
    .nav-menu a {
      width: 56px;
    }
    .nav-menu a span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #fff;
    background: #05bbaf;
  }
  
  .nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
    color: #fff;
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 100%;
    color: #fff;
  }
  
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #45505b;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #05bbaf;
  }